.head {
    background-color: green;
    color: white;

}

.head2 {
    margin-top: -20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-bottom: 10px;
}

.ones {
 background-color: green;
}

button {
 width: 150px;
 height: 30px;
 display: block;
 margin-top: -5px;
 background-color: antiquewhite;
 border: none;
 border-radius: 3px;
 transition: 0.5s;
 text-align: left;
 cursor: pointer;
 margin-bottom: 10px;
}

.one:hover {
    background-color: green;
}

.yo {
    display: flex;
    margin: ;
}